{% extends 'yonetici/base.html' %}

{% block content %}

            <!-- Ana İçerik Alanı -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="center-container"> <!-- mt-3-->
                    <h1 class="mb-4">Antrenör Ekle</h1>
                    <form method="POST" action="{% url 'trainer_add' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTrainerFirstName">Ad</label>
                                <input type="text" class="form-control" id="inputTrainerFN" name="inputTrainerFN" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTrainerLN">Soyad</label>
                                <input type="text" class="form-control" id="inputTrainerLN" name="inputTrainerLN" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTrainerBD">Doğum Tarihi</label>
                                <input type="date" class="form-control" id="inputTrainerBD" name="inputTrainerBD" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTrainerGender">Cinsiyet</label>
                                <select class="form-control" id="inputTrainerGender" name="inputTrainerGender" required>
                                    <option value="male">Erkek</option>
                                    <option value="female">Kadın</option>
                                    <option value="other">Diğer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTrainerPhone">Telefon Numarası</label>
                                <input type="text" class="form-control" id="inputTrainerPhone" placeholder="+90" name="inputTrainerPhone" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTrainerUzmanlik">Uzmanlık Alanı</label>
                                <select class="form-control" id="inputTrainerUzmanlik" name="inputTrainerUzmanlik" required>
                                    <option value="kilo_alma">Kilo Alma</option>
                                    <option value="kilo_verme">Kilo Verme</option>
                                    <option value="kilo_koruma">Kilo Koruma</option>
                                    <option value="kas_kazanma">Kas Kazanma</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTrainerTecrube">Tecrübe</label>
                                <input type="text" class="form-control" id="inputTrainerTecrube" name="inputTrainerTecrube" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTrainerKont">Kontenjan</label>
                                <input type="number" class="form-control" id="inputTrainerKont" name="inputTrainerKont" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTrainerEmail">E-posta</label>
                            <input type="email" class="form-control" id="inputTrainerEmail" name="inputTrainerEmail" required>
                        </div>
                        <div class="form-group">
                            <label for="inputTrainerPassword">Şifre</label>
                            <input type="password" class="form-control" id="inputTrainerPassword" name="inputTrainerPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Ekle</button>
                    </form>
                </div>
            </main>

            {% endblock %}
      